{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="container mb-5">
  <br>
  <h2>Shopping cart</h2>
  <br>
  <div class="row">
    <div class="col-12 col-md-6 pt-2 text-center border-right">
      {% for item in cart %}
      {% with product=item.product %}
      <a href="{{ product.get_absolute_url }}">
        <img src="{% if product.image %}
                        {{ product.image.url }}
                    {% else %}
                        {% static 'img/no_image.png' %}
                    {% endif %}" width="125px">
      </a>
      <p>{{ product.name }}</p>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ item.update_quantity_form.quantity }}
        {{ item.update_quantity_form.update }}
        <input type="submit" value="Update" class="border-secondary rounded-pill ml-2 px-3">
        {% csrf_token %}
        <button class="border-secondary rounded-pill mr-0">
          <a class=" text-danger" href="{% url 'cart:cart_remove' product.id %}">Remove</a>
        </button>
        <p class="mt-2">Item Total : {{ item.total_price }} €</p>
      </form>
      <hr>
      {% endwith %}
      {% endfor %}
      <a class="nav-link text-body m-3" href="{% url 'shop:product_list' %}">
        <button type="button" class="btn-lg rounded-pill text-white" style="background-color: #74AB8C;">Continue
          Shopping</button>
      </a>
    </div>

    <div class="col-12 col-md-5 pt-2 mb-3 bg-light text-body text-center">
      <p>Have you recieved coupon from us? Enter it here</p>
      <div class="input-group input-group-sm mb-3 px-5">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Code</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm">
      </div>

      <h4 class="m-3"><strong> Subtotal : {{ cart.get_total_price }} €</strong></h4>
      <small>Shipping Included!</small>
      <hr>
      <img src="{% static 'img/paymment_icons.png' %}" width="150px" alt="image">
      <img src="{% static 'img/norton_seal.png' %}" width="150px" alt="image">
      <hr>
      <a class="nav-link text-body py-5" 
        {% if user.is_authenticated %}
          href="{% url 'orders:order_create' %}"
        {% else %}
          href="{% url 'payments:checkout_options' %}"
        {% endif %}>
        <button type="button" class="btn-dark rounded-pill btn-lg px-5 text-white">Checkout</button>
      </a>
    </div>
    <br>
  </div>
</div>
{% endblock %}