{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <br>
  <h2>Shopping cart</h2>
  <br>
  <div class="row">
    <div class="col-12 col-md-6 pt-2 text-center border-right">
      {% for item in cart %}
      {% with product=item.product %}
      <a href="{{ product.get_absolute_url }}">
        <img src="{% if product.image %}
                        {{ product.image.url }}
                    {% else %}
                        {% static 'img/no_image.png' %}
                    {% endif %}" width="125px">
      </a>
      <p>{{ product.name }}</p>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ item.update_quantity_form.quantity }}
        {{ item.update_quantity_form.update }}
        <input type="submit" value="Update" class="border-secondary rounded-pill ml-2 px-3">
        {% csrf_token %}
        <button class="border-secondary rounded-pill mr-0">
          <a class=" text-danger" href="{% url 'cart:cart_remove' product.id %}">Remove</a>
        </button>
        <p class="mt-2">Item Total : {{ item.total_price }} €</p>
      </form>
      <hr>
      {% endwith %}
      {% endfor %}
    </div>

    <div class="col-12 col-md-5 pt-2 mx-center bg-light text-body text-center" style="height:30%">
      <p>Have you recieved coupon from us? Enter it here</p>
      <div class="input-group input-group-sm mb-3 px-5">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Code</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm">
      </div>

      <h4 class="m-3"><strong> Subtotal : {{ cart.get_total_price }} €</strong></h4>
      <small>Shipping Included!</small>
      <hr>
      <img src="{% static 'img/paymment_icons.png' %}" width="150px" alt="image">
      <img src="{% static 'img/norton_seal.png' %}" width="150px" alt="image">
      <hr>
      <a class="nav-link text-body pt-5" href="{% url 'payments:checkout_options' %}">
        <button type="button" class="btn-dark rounded-pill btn-lg px-5 text-white">Checkout</button>
      </a>
      <div class="col-6 mx-auto" id="paypal-button-container"></div>
      <script
      src="https://www.paypal.com/sdk/js?client-id=AQFXRydXlXyxacp4d1B1zLLo-2MFWczTc1OVUd2WrOB5wmS2KOpHPAiJLzH0SAjpbOPXKtl8ntovenD5">
      </script>
  
  <script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: "{% for items in cart %}{{ cart.get_total_price }}{% endfor %}"
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script>
      <p>or</p>
      <a class="nav-link text-body " href="{% url 'shop:product_list' %}">
        <button type="button" class="btn-lg rounded-pill text-white"
          style="background-color: #74AB8C;">Continue Shopping</button>
      </a>
    </div>
  </div>
  <br>
</div>
</div>
{% endblock %}