{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<br>
<div class="container px-0">
  <hr>
  <h3 class="text-center green"> Our Top Quality German Products</h3>
  <hr>
  <br>
  <p>
    <p>Filter by Category:</p>
      <a class="btn btn-light" href="{% url 'shop:product_list' %}">All Products</a>
    {% for c in categories %}
    <a class="btn btn-light" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    {% endfor %}

</div>

{% include 'shop/product/product-template.html' %}
<br>
{% endblock %}