{% load static %}
{% if products %}
<div class="container text-center">
    <br>
    <div class="row justify-content-around">
        {% for product in products %}
        <div class="col-10 col-sm-5 col-md-3 col-lg-2 mx-2 my-3 rounded justify" style="box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.3);">
            <a href="{{ product.get_absolute_url }}"class="text-body text-decoration-none ">
            <div class="row">
                <div class="col-12" style="height:60px">
                    <p class="pt-2">{{ product.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if product.image %}
                        <img class="card-img-top pt-3" src="{{ product.image.url }}" alt="image of {{ product.name }} product">
                    {% else %}
                        <img class="card-img-top pt-3" src="{% static 'img/no_image.png' %}" alt="no product image">
                    {% endif %}
                </div>
            </div>
            <div class="row"></div>
            <h5 class="text-right py-3 pr-3 green font-weight-bold">{{ product.price }} €
            </h5>
        </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}