{% extends "shop/base.html" %}
{% block content %}

<div class="container text-left">
    <div class="row">
        <div class="col-12 col-md-5">
            <form action="." method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <div class="col-12">
                        {{ field.label_tag }}
                        {{ field.errors }}
                    </div>
                    <div class="col-12">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <button class="btn btn-success rounded m-3" type="submit" value="Place order">Place Order</button>
            </form>
        </div>
        <div class="col-12 col-md-7">
            <h1 class="border-bottom">Checkout</h1>
            <br>
            <h3 class="pb-3">Your order :</h3>
            {% for item in cart %}
            <h5>{{ item.quantity }} x {{ item.product.name }}</h5>
            <p>{{ item.total_price }} €</p>
            {% endfor %}
            <br>
            <h4>Total: {{ cart.get_total_price }} € </h4>
        </div>
    </div>
</div>
{% endblock %}