{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Search Results</h1>
  <hr>
  <h4>
    {% with result.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
  </h4>

  <br>
  <div class="row justify-content-left">
    {% for product in result %}
    <div class="col-6 col-md-4 col-lg-3">
      <a class="nav-link text-body" href="{{ product.get_absolute_url }}" role="button">
        {% if product.image %}
        <img class="img-fluid text-center" src="{{ product.image.url }}" alt="Image of {{ product.name }} product"
          max-width="200px">
        {% else %}
        <img class="img-fluid text-center" src="{% static 'img/no_image.png' %}" alt="no product image" width="150px">
        {% endif %}
        <br>
        <p class="text-center">{{ product.name }}</p>
      </a>
    </div>
    <br>
    {% endfor %}
  </div>
</div>
{% endblock %}