{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Search Results</h1>
  <hr>
  <h4>
    {% with result.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
  </h4>

  <br>

  <ol>
    {% for product in result %}
    <li>
      <a class="nav-link text-body" href="{{ product.get_absolute_url }}" role="button">
        {% if product.image %}
        <img class="img-fluid text-center" src="{{ product.image.url }}" alt="Image of {{ product.name }} product"
          width="150px">
        {% else %}
        <img class="img-fluid text-center" src="{% static 'img/no_image.png' %}" alt="no product image" width="150px">
        {% endif %}
        <br>
        <h5><u>{{ product.name }}</u></h5>
      </a>
      <hr>
    </li>
    <br>
    {% endfor %}
  </ol>

  {% endblock %}