{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<div class="container px-0">
    <img class="img-fluid mx-auto" src="{% static 'img/banner2.jpg' %}" alt="banner image">
</div>
<div class="container text-center">
    <br>
    <h3>Hi {{ user.username}}, <br>welcome to your dashboard!</h3>
    <br>
    <div class="row">
        <div class="col-12 col-md-6">
            <h5>Your Details :</h5>
            <p>We currently hold these details:</p>
        </div>
        <div class="col-12 col-md-6">
            <h5>Your Orders :</h5>
            <p>Order History</p>
        </div>
    </div>
</div>
{% endblock %}