{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<br>
<div class="container px-0" >
    <img class="img-fluid" src="{% static 'img/lr-headquarters.jpg' %}" alt="Company headquarter image">
</div>
<br>
<div class="container">
    <h4 class="text-center">
        A COMPANY ON THE WAY TO SUCCESS
    </h4>
    <hr>
    <p>
        Founded in 1985 in Ahlen, Westphalia (Germany), LR has 32 years of experience at the forefront of product
        development and innovation in the Health and Beauty sector “Made in Germany”
        Currently LR is the market leader in Germany and it already has headquarters in 28 countries around the world,
        with a total of around 1000 employees and a partnership with 300,000 independent sales partners who already
        share and enjoy the business opportunity that LR offers them.
    </p>
    <p>LR Shop Direct- LR products easily bought
        Here at LR online in the LR Shop you can get to know the entire product world of LR Health & Beauty Systeme
        GmbH, the successful company from Ahlen Germany. No matter whether LR cosmetics or LR perfume, here in the LR
        shop you will find all products with just a few clicks. You have the option to order LR products as an end
        customer or as a sales partner with a 30% discount. As a sales partner of LR, you receive the LR Partner Card
        and thus access to the LR benefits of the LR online shop at www.lrworld.de. Convince yourself of the high
        quality at an affordable price of these LR products available here. We hope you enjoy shopping and enjoy using
        LR products.

        You are on the LR partner site of Katarina Simon. This is not an official website of LR Health & Beauty Systems GmbH.
        Please order LR consultants with their partner number via the LR main page.</p>
</div>
{% endblock %}