{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/731c7b42c4.js" crossorigin="anonymous"></script>
    {% block title %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>LR | Ireland</title>
    {% endif %}
    {% endblock %}
</head>

<body>
    <div class="container-fluid green-bg" id="header-top">
        <a class="nav-link p-0" href="{% url 'shop:home' %}">
            <h2 class="text-center text-white pt-2 pb-0 mb-0"><strong>LR | Ireland</strong></h2>
            <p class="text-center text-white pb-2">Independent Partner | K.Simonova</p>
        </a>
    </div>

    {% include 'shop/menu.html' %}

    <div class="container text-right my-2 py-2 ">
        {% if user.is_authenticated %}
        <i class="fas fa-user fa-lg pr-3 green"></i>

        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        <a class="font-weight-bold" href="{% url 'cart:cart_detail' %}" style="color:rgb(0, 0, 0)">
            {{ total_items }} Item{{ total_items|pluralize }} in cart, Total
            {{ cart.get_total_price }}€
        </a>
        {% else %}
        Your cart is empty
        {% endif %}
        {% endwith %}
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <footer>
        <div class="container-fluid green-bg px-0">
            <p class="text-center text-white mb-0">Copyright@ LR | IRELAND 2020</p>
        </div>
    </footer>
</body>

</html>