{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/731c7b42c4.js" crossorigin="anonymous"></script>
    {% block title %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>LR | Ireland</title>
    {% endif %}
    {% endblock %}
</head>

<body>
    <div class="container-fluid" id="header-top" style="background-color: #74AB8C;">
        <a class="nav-link p-0" href="{% url 'shop:home' %}">
            <h2 class="text-center text-white pt-2 pb-0 mb-0"><strong>LR | Ireland</strong></h2>
            <p class="text-center text-white pb-2">Independent Partner | K.Simonova</p>
        </a>
    </div>
    <div class="container text-right">
        {% if user.is_authenticated %}
            <i class="fas fa-user fa-lg pr-3" style="color:#74AB8C"></i>
        {% else %}
            <i class="fas fa-user-slash fa-lg pr-3" style="color:#74AB8C"></i>
        {% endif %}
        <i class="fas fa-shopping-cart fa-lg" style="color:#74AB8C"></i>
        {% with total_items=cart|length %}
          {% if cart|length > 0 %}
            <a class="font-weight-bold" href="{% url 'cart:cart_detail' %}" style="color:rgb(0, 0, 0)">
                {{ total_items }} Item{{ total_items|pluralize }} , Total  
                {{ cart.get_total_price }} €
            </a>
          {% else %}
            Your cart is empty.
          {% endif %}
        {% endwith %}
    </div>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item  border-right p-2">
                    <a class="nav-link text-body" href="{% url 'shop:special_offer' %}">Special Offers</a>
                </li>
                <li class="nav-item  border-right p-2">
                    <a class="nav-link text-body" href="{% url 'shop:product_list' %}">ALL Products</a>
                </li>
                <li class="nav-item border-right p-2">
                    <a class="nav-link text-body" href="#">Categories</a>
                </li>
                <li class="nav-item border-right p-2">
                    <a class="nav-link text-body" href="{% url 'shop:contact' %}">CONTACT</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item  border-right p-2">
                    <a class="nav-link text-body" href="{% url 'logout' %}">Log Out</i></a>
                </li>
                {% else %}
                <li class="nav-item  border-right p-2">
                    <a class="nav-link text-body" href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                <input class="form-control ml-xl-5 pl-xl-5 mr-3" name='q' type="search" placeholder="Search product"
                    aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 text-white" style="background-color: #74AB8C" ;
                    type="submit">Search</button>
            </form>
        </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container-fluid" style="background-color: #74AB8C" ;>
            <p class="text-center text-white"><small>Copyright@ LR | IRELAND 2020</small></p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>