{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<br>
<div class="container col-10 col-md-8 col-xl-5">
   <h3>Contact Page</h3>

<br>
<form>
    <div class="form-group">
      <label">Your Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>
    <div class="container green-bg col-4 mx-auto text-center">
      <button type="submit" class="btn btn-lg text-white">Submit</button>
    </div>
  </form>
</div>
<br>
{% endblock %}