{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <h3 class="text-center green m-5 p-5">Welcome to our FAQ page</h3>
    <hr>
</div>
<div class="row justify-content-between">
    <div class="col-5 border green m-3">
        <h3 class="text-center green">Payments</h3>
        <p class="text-center text-body">Marzipan jelly chocolate cake candy sweet sugar plum. Marzipan oat cake I love tart I love lemon drops. Powder gummi bears chocolate bar dessert jelly-o apple pie sugar plum wafer gummi bears.</p>

    </div>
    <div class="col-5 border green m-3">
        <h3 class="text-center green">Shipping</h3>
        <p class="text-center text-body">Brownie bear claw gummies danish icing jelly gummies cupcake. Jelly beans halvah tootsie roll gummies. Toffee tiramisu toffee I love tootsie roll powder. Dragée I love gummies.</p>
    </div>
    <div class="col-5 border green m-3">
        <h3 class="text-center green">LR Quality</h3>
        <p class="text-center text-body">Jelly-o gummi bears I love I love jelly-o candy. Toffee topping candy canes cheesecake chocolate croissant I love bonbon lemon drops. Carrot cake sugar plum donut.</p>
    </div>
    <div class="col-5 border green m-3">
        <h3 class="text-center green">General</h3>
        <p class="text-center text-body">Tart sugar plum brownie icing. Sweet roll macaroon jelly beans bonbon. Bonbon dragée donut dragée donut toffee dragée cake. Chocolate danish pie.</p>
    </div>
    <div class="col-5 border green m-3">
        <h3 class="text-center green">Legal</h3>
        <p class="text-center text-body">Gummies sesame snaps oat cake cookie sesame snaps soufflé marzipan donut. Chocolate bar cookie cake lemon drops pudding fruitcake. Ice cream oat cake candy canes pastry jelly chocolate cake.</p>
    </div>
    <div class="col-5 border green m-3">
        <h3 class="text-center green">Privacy</h3>
        <p class="text-center text-body">Sesame snaps cotton candy brownie lemon drops pudding gummies pastry ice cream. Liquorice bear claw sweet bonbon jelly-o biscuit I love cake tiramisu. Jelly-o apple pie pudding apple pie cookie.</p>
    </div>
</div>
<br>
{% endblock %}