{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<br>
<div class="container px-0" >
    <img class="img-fluid" src="{% static 'img/banner2.jpg' %}" alt="banner_image">
</div>
<br>

<div class="container">
    <hr>
    <h2 class="text-center">Bestsellers</h2>
    <hr>
</div>
{% include 'shop/product/product-template.html' %}
<br>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
            <img class="img-fluid" src="{% static 'img/banner_4.png' %}" alt="image">
        </div>
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
            <div class="container text-left mt-3">
                <h3>Seasonal Support</h3>
                <h4>Support for every season</h4>
                <hr>
                <p>You are often among people and on the road. Whether in crowded public transport, in the office, or
                    outdoors in all weathers : With LR LIFETAKT Seasonal Support you get the support your body needs. So
                    you can enjoy every season to the full.</p>
                <p>Aloe Vera Drinking Gel Immune Plus strengthens existing immune cells, activates the immune system and
                    supports its function. 85% Aloe vera gel enriched with ginger, lemon and vitamin C, zinc and
                    selenium provide triple power for your immune system.1In addition: Colostrum Capsules2. They contain
                    the first milk of the cow, which already provides the calf with everything it needs. Two companions
                    – especially if you are often on the road with others..</p>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}