{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <img class="img-fluid" src="{% static 'img/banner1.jpg' %}" alt="image">
</div>
<br>

<div class="container">
    <hr>
    <h2 class="text-center">Bestsellers</h2>
    <hr>
</div>
{% if products %}
<div class="container text-center">
    <br>
    <div class="row">
        {% for product in products %}
        <div class="card col-8 col-md-6 col-lg-3 col-xl-2 mx-auto border-white bg-light ">
            {% if product.image %}
            <img class="card-img-top pt-3" src="{{ product.image.url }}" alt="image of {{ product.name }} product">
            {% else %}
            <img class="card-img-top pt-3" src="{% static 'img/no_image.png' %}" alt="no product image">
            {% endif %}
            <div class="card-body">
                <h6 class="card-title">{{ product.name }}</h6>
            </div>
            <div class="mb-2 pb-2">
                <p class="card-title">{{ product.price }} €</p>
                <a href="{{ product.get_absolute_url }}" class="btn btn-sm btn-success btn-rounded">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<br>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
            <img class="img-fluid" src="{% static 'img/banner_4.png' %}" alt="image">
        </div>
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
            <div class="container text-left mt-3">
                <h3>Seasonal Support</h3>
                <h4>Support for every season</h4>
                <hr>
                <p>You are often among people and on the road. Whether in crowded public transport, in the office, or
                    outdoors in all weathers : With LR LIFETAKT Seasonal Support you get the support your body needs. So
                    you can enjoy every season to the full.</p>
                <p>Aloe Vera Drinking Gel Immune Plus strengthens existing immune cells, activates the immune system and
                    supports its function. 85% Aloe vera gel enriched with ginger, lemon and vitamin C, zinc and
                    selenium provide triple power for your immune system.1In addition: Colostrum Capsules2. They contain
                    the first milk of the cow, which already provides the calf with everything it needs. Two companions
                    – especially if you are often on the road with others..</p>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}