{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <img class="img-fluid" src="{% static 'img/banner1.jpg' %}" alt="image"> 
    <hr>
    <h3>LR LIFETAKT</h3>
    <h5>YOUR LIFE. YOUR RHYTHM. YOUR WELLBEING</h5> 
    <p>Is there a recipe for happiness? Health is happiness they say. Feeling comfortable in your own body, being fit
            and full of energy, that is pure quality of life.
            But how do I stay healthy? This is where LR LIFETAKT comes into play, combining first-class
            nutritional supplements with individual solutions tailored to your personal needs in every phase of life. Whether
            you are currently in a stressful phase, have no time for a balanced, nutritious diet or want to lose a few pounds
            – as your competent partner, LR LIFETAKT always has the right solution for you – for your daily plus in quality of
            life. Take your health into your own hands with LR LIFETAKT and set the pace. LR LIFETAKT products are
            inspired by nature, combining the latest scientific and research findings. The result: Unique products with
            maximum effectiveness and consistently high quality. This is confirmed by renowned, independent institutes
            such as SGS Institut Fresenius, for example in the case of Aloe Vera Drinking Gels.
            LR LIFETAKT offers holistic solutions that go beyond nutritional supplements:
            In addition to the products, LR LIFETAKT supports you with scientifically based expert tips on nutrition, exercise
            and lifestyle.</p>
</div>
<br>
{% endblock %}