{% block menu %}
<div class="container px-0">
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <button class="navbar-toggler border-light" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars fa-lg" style="color:#74AB8C"></i>
        </button>

        <div class="collapse navbar-collapse px-0 justify-content-around" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item  border-right p-2">
                    <a class="nav-link text-body" href="{% url 'shop:home' %}">Home</a>
                </li>
                <li class="nav-item  border-right p-2">
                    <a class="nav-link text-body" href="{% url 'shop:special_offer' %}">Special Offers</a>
                </li>
                <li class="nav-item  border-right p-2">
                    <a class="nav-link text-body" href="{% url 'shop:product_list' %}">ALL Products</a>
                </li>
                <li class="nav-item border-right p-2 dropdown">
                    <a class="nav-link text-body" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'shop:product_list' %}">All</a>
                            {% for c in categories %}
                            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            {% endfor %}
                    </div>
                </li>
                <li class="nav-item border-right p-2">
                    <a class="nav-link text-body" href="{% url 'shop:contact' %}">Contact Us</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown border-right p-2">
                    <a class="nav-link dropdown-toggle text-body" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item  border-right p-2">
                    <a class="nav-link text-body" href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <form class="form-inline" action="{% url 'search' %}" method="get">
            <input class="form-control" name='q' type="search" placeholder="Search..."
                aria-label="Search" style="max-width: 150px;">
        </form>
    </nav>
</div>
{% endblock %}