{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <img class="img-fluid" src="{% static 'img/banner2.jpg' %}" alt="image">
    <hr>
    <h4 class="text-center">Special Offers This Month</h4>
    <hr>
</div>

{% if products %}
        <div class="container text-center">
            <br>
            <div class="row">
              {% for product in products %}
                <div class="col-10 col-sm-3 m-2 mx-auto border rounded">
                  <a class="text-dark" href="{{ product.get_absolute_url }}">
                  <img class="img-fluid text-center" src="{{ product.image.url }}" alt="">
                  <p class="text-center">{{ product.name }}</p>
                  </a>
                  <h5 class="text-center">{{ product.price }} Euro</h5>
                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                    </form>
                </div>
              {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}